@import "../../shared/scss/colors";

.wrapper {
  display: flex;
  justify-content: center;
  width: calc(100vw - 400px);
  height: 100vh;
  padding: 60px 0;
  position: relative;
  background-color: var(--black-1);
  color: var(--snowy);
  overflow: hidden;
}

.picture {
  margin: 0 auto;
  height: 100%;
}

.controlButton {
  display: flex;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 60px;
  opacity: 0;
  height: calc(100% - 120px);
  width: 30%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
  font-size: 60px;

  &_left {
    left: 0;
  }

  &_right {
    right: 0;
    justify-content: flex-end;
  }

  &:hover {
    opacity: 1;
  }
}