.wrapper {
  display: flex;
  flex-direction: column;
  width: 295px;
  height: 100vh;
  padding: 20px;
}

.logo {
  width: 50%;
  margin: 0 auto;
}

.navigation {
  list-style: none;
  padding: 0;

  &>*:not(:last-child) {
    margin-bottom: 10px;
  }

  * {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--gray-1);
  }
}