.socialBlock {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  > *:not(:last-child) {
    margin-bottom: 20px;
  }

  * {
    align-self: center;
    font-size: 25px;
    color: var(--gray-1);
  }

  @media (max-width: 768px) {
    display: none;
  }
}