* {
  box-sizing: border-box;

  &::-webkit-scrollbar-track {
    background: var(--scrollbat-track);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbat-thumb);
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

html {
  overflow-x: hidden;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  font-family: Roboto, Arial, Calibri, Verdana, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}