.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 30vh);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  overflow-y: auto;
}

.pictureItem {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;

  &__img {
    height: 100%;
  }
}